<div id="main" class="row">
    <h1>Brazos Valley Food Bank</h1>

    <div id="div-donate" class="panel panel-default">
        <form class="panel-body" action= "/welcome/hello">
            <div id="div-donation" class="panel panel-default">
                <div class="panel-heading">
                    <h2>Donation's Information</h2>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="donation-date">Date</label>
                            <input type="text" class="form-control" id="donation-date" placeholder="10/31/2016">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="donation-product">Product of Donate</label>
                            <select id="donation-product" class="selectpicker show-tick">
                                <option>Food</option>
                                <option>Money</option>
                                <option>Both</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="donation-detail-food">Details of Food</label>
                            <input type="text" class="form-control" id="donation-detail-food" placeholder="OREO">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="donation-detail-money">Details of Money</label>
                            <select id="donation-detail-money" class="selectpicker show-tick">
                                <option value="cash">Cash</option>
                                <option value="check">Check</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-6">
                            <label for="donation-total">Total</label>
                            <div class="form-inline">
                                <input type="text" id="donation-total" class="form-control">

                                <select id="donation-total-unit" class="selectpicker show-tick">
                                    <option>Dollars</option>
                                    <option>Pounds</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="div-donor" class="panel panel-default">
                <div class="panel-heading">
                    <h2>Donor's Information</h2>
                </div>

                <div class="panel-body">
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="donor-name">Name of Origination / Individual</label>
                            <input type="text" class="form-control" id="donor_name" name="donor_name" placeholder="Eric">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="donor-address">Address</label>
                            <input type="text" class="form-control" id="donor-address">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="donor-city">City</label>
                            <input type="text" class="form-control" id="donor-city">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="donor-state">State</label>
                            <input type="text" class="form-control" id="donor-state">
                        </div>
                    </div>

                    <div class="row">
                        <div class="form-group col-md-3">
                            <label for="donor-zip">Zip</label>
                            <input type="text" class="form-control" id="donor-zip">
                        </div>

                        <div class="form-group col-md-3">
                            <label for="donor-email">E-mail</label>
                            <input type="text" class="form-control" id="donor-email">
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-3">
                    <input type="submit" class="btn btn-primary" name="submit-donate"
                           value="Submit"/>
                </div>
            </div>
        </form>
    </div>
</div>