<!DOCTYPE html>
<html>
<head>
  <title>Brazos Valley Food Bank</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">

  <%= yield %>

  <div id="footer" class="row">
    <p>If you have any questions, please contact us.</p>
    <p>Brazos Valley Food Bank © 2016</p>
  </div>

</div>
</body>
</html>
